a img {
  height: 110px;
  width: auto;
  object-fit: cover;
}

#root
  > div
  > div.nextui-c-kRHeuF.nextui-c-kRHeuF-ijZbaky-css.nextui-grid-item.nextui-grid-container
  > div.nextui-c-dfbgCO.nextui-c-dfbgCO-fGHEql-fluid-true.nextui-c-dfbgCO-iipPaye-css
  > div
  > div
  > div {
  @media (max-width: 768px) {
    justify-content: center;
  }
}

