#root
  > div
  > div
  > div.nextui-c-kRHeuF.nextui-c-kRHeuF-ihKYtzV-css.nextui-grid-item.sm
  > a
  > div
  > div.nextui-c-eFfoBo.nextui-c-eFfoBo-ibMfdno-css
  > div
  > img {
  width: auto;
  height: 100px;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  -webkit-filter: drop-shadow(3px 3px 3px rgb(154, 153, 153));
  filter: drop-shadow(3px 3px 3px rgb(161, 159, 159));
}
#root
  > div
  > div
  > div.nextui-c-kRHeuF.nextui-c-kRHeuF-ihKYtzV-css.nextui-grid-item.sm
  > a
  > div
  > div.nextui-c-cakKrd.nextui-c-cakKrd-ibMfdno-css
  > div
  > img {
  width: 50px;
  height: auto;
  object-fit: cover;
  margin: 0;
  object-position: center;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}
